* {
  padding: 0;
  margin: 0;
  border: none;
}

body, html {
  overflow: hidden;
}

#SiteSlidr_Stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

#SiteSlidr_Control {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  z-index: 999;
  opacity: 0.05;
}

#SiteSlidr_Control p {
  font-size: 20px;
  line-height: 35px;
  font-family: sans-serif;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#SiteSlidr_Control:hover {
  opacity: 1;
}

#SiteSlidr_Control span {
  background-color: rgba(50, 50, 50, 0.5);
  padding: 10px 20px;
  margin: 0 3px;
  border-radius: 5px;
  text-shadow: 0 0 2px #000;
  box-shadow: inset 0 0 10px #000;
  cursor: pointer;
}

#SiteSlidr_Control span#SiteSlidr_Counter {
  color: #996;
  cursor: default;
}

#SiteSlidr_Control.playing #SiteSlidr_Play,
#SiteSlidr_Control.paused #SiteSlidr_Pause {
  display: none;
}

#SiteSlidr_Overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*background: rgba(0, 0, 0, 0.5);*/
  z-index: 998;
}

.SiteSlidr_Frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100;
}

.SiteSlidr_Frame.front {
  z-index: 200;
}
